#contact-section
  display: flex
  justify-content: center
  align-items: center
  .contact-wrap
    width: 90%
    height: auto
    padding: 10px
    border-radius: 15px
    a
      text-decoration: none
      color: #00c18f
    ul
      margin: 0 auto

      bottom: 0
      padding-top: 30vh
      li

        position: relative
        bottom: 0
        font-size: .7em
