html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.section {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden; }
  .section .headline {
    height: 90px;
    width: 100vw;
    font-family: BebasNeue-Regular;
    font-size: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20; }
  .section .section-wrap {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    font-family: Roboto-Medium;
    font-size: 1.5em;
    box-sizing: border-box;
    overflow: scroll; }
    .section .section-wrap:nth-child(3) {
      padding-top: 0px; }

@media only screen and (max-width: 600px) {
  .headline {
    padding-left: 50px; }
  .section:nth-child(1) {
    padding-top: 110px; } }

nav {
  height: auto;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 1; }
  nav .logo {
    height: 80px;
    width: 150px;
    padding: 10px;
    background-image: url("imgs/logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: intro;
    animation-duration: 5s;
    animation-fill-mode: forward; }

@keyframes intro {
  0% {
    opacity: 0;
    height: 50vh;
    width: 50vw;
    margin: 25vh 25vw; }
  50% {
    opacity: 1;
    height: 50vh;
    width: 50vw;
    margin: 25vh 25vw; }
  100% {
    opacity: 1;
    height: 80px;
    width: 150px;
    margin: 0;
    padding: 10px; } }

@media only screen and (max-width: 600px) {
  nav {
    background: linear-gradient(to right, #222, #343434);
    z-index: 1; } }

.intro {
  background-image: url("imgs/elanor.png"), url("imgs/bgi.svg");
  background-size: 80vh, cover;
  background-repeat: no-repeat;
  background-position: bottom left, center; }
  .intro blockquote p {
    width: 60%;
    text-indent: -0.5em;
    color: #e3e3e3;
    font-size: 1.2em;
    padding-top: 30vh;
    float: right; }

@media only screen and (max-width: 1300px) {
  .intro {
    background-size: 60vh, cover; }
  .section blockquote p {
    margin-left: 30vw;
    padding-top: 18vh;
    right: 0;
    float: none; } }

@media only screen and (max-width: 800px) {
  .section blockquote p {
    width: 100%;
    padding-top: -20vh;
    margin-left: -10vw;
    float: none;
    width: 400px; } }

@media only screen and (max-width: 640px) {
  .intro {
    background-image: none, url("imgs/bgi.svg"); }
  .section blockquote p {
    width: 100%;
    padding-top: -20vh;
    padding-left: 50px;
    float: none;
    overflow: wrap; } }

#about {
  box-sizing: border-box;
  background-image: url("imgs/me.svg"), url("imgs/bgi2.svg");
  background-repeat: no-repeat;
  background-position: bottom right, center;
  background-size: 80vh, cover; }
  #about p {
    width: 60%;
    padding-top: 30vh; }

@media only screen and (max-width: 1300px) {
  #about {
    background-size: 80vh; }
    #about p {
      padding-top: 10vh;
      width: 100%; } }

@media only screen and (max-width: 600px) {
  #about {
    background-size: 49vh, cover; }
    #about p {
      padding-top: 0;
      width: 100%; } }

#portfolio p, #portfolio h3 {
  width: 80%;
  margin: 0 auto;
  opacity: 1; }

#portfolio h3 {
  font-family: BebasNeue-Regular;
  padding-bottom: 10px;
  font-size: 1.5em;
  padding-top: 40px; }

#portfolio .left-arrow {
  height: 0px;
  width: 0px;
  position: absolute;
  border-width: 20px 30px 20px 0px;
  border-color: transparent #e3e3e3 transparent transparent;
  border-style: solid;
  z-index: 1;
  left: 30px;
  cursor: pointer;
  display: none;
  top: calc(250vh + 25px); }

#portfolio .right-arrow {
  height: 0px;
  width: 0px;
  border-width: 20px 0px 20px 30px;
  border-color: transparent transparent transparent #e3e3e3;
  border-style: solid;
  position: absolute;
  z-index: 1;
  right: 30px;
  cursor: pointer;
  top: calc(250vh + 25px); }

#portfolio .section-wrap {
  height: 80%;
  width: 400%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s; }
  #portfolio .section-wrap .art {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block; }
  #portfolio .section-wrap .part-one {
    height: 100%;
    width: 100%;
    background-image: url("imgs/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left; }
  #portfolio .section-wrap .description {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: relative;
    display: none; }
    #portfolio .section-wrap .description .scrolling-box {
      height: 80%;
      width: 100%;
      overflow: scroll;
      margin: 0 auto;
      z-index: 2; }
  #portfolio .section-wrap .cta {
    width: 50px;
    height: 50px;
    background-color: #00c18f;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    z-index: 2; }
    #portfolio .section-wrap .cta .x1 {
      width: 80%;
      height: 5px;
      background-color: #e3e3e3;
      position: absolute;
      transition: all 1s; }
    #portfolio .section-wrap .cta .x2 {
      width: 80%;
      height: 5px;
      background-color: #e3e3e3;
      position: absolute;
      transition: all 1s;
      transform: rotate(90deg); }
  #portfolio .section-wrap .part-two {
    height: 100%;
    width: 100%;
    background-image: url("imgs/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left; }
  #portfolio .section-wrap .part-three {
    height: 100%;
    width: 100%;
    background-image: url("imgs/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left; }
  #portfolio .section-wrap .part-four {
    height: 100%;
    width: 100%;
    background-image: url("imgs/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    float: left; }

@media only screen and (max-width: 640px) {
  p {
    font-size: .7em; }
  h3 {
    font-size: 1em; } }

#contact {
  background-image: url("imgs/bgi3.svg");
  background-size: cover;
  background-repeat: no-repeat; }

#contact-section {
  display: flex;
  justify-content: center;
  align-items: center; }
  #contact-section .contact-wrap {
    width: 90%;
    height: auto;
    padding: 10px;
    border-radius: 15px; }
    #contact-section .contact-wrap a {
      text-decoration: none;
      color: #C30A55; }
    #contact-section .contact-wrap ul {
      margin: 0 auto;
      bottom: 0;
      padding-top: 30vh; }
      #contact-section .contact-wrap ul li {
        position: relative;
        bottom: 0;
        font-size: .7em; }

.revealer {
  background: linear-gradient(to right, #222, #343434);
  height: 400vh;
  width: 100vw;
  opacity: 0;
  position: absolute;
  animation-name: tom;
  animation-duration: 5s;
    animation-duration-animation-fill-mode: forwards;
    animation-duration-transition: all 5s; }

main {
  background: linear-gradient(to right, #222, #343434);
  color: #e3e3e3; }

@keyframes tom {
  0% {
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@font-face {
  font-family: 'BabasNeue';
  src: url("fonts/BebasNeue-Regular.otf") format("opentype");
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.ttf") format("typeface"), url(" fonts/Roboto-Thin.ttf"), url(" fonts/Roboto-Black.ttf"), url(" fonts/Roboto-Thinitalic.ttf"), url(" fonts/Roboto-Blackitalic.ttf"); }
